.hero-section {
  padding: 60px 0px 0px 0px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.tag-button {
  color: #242826;
  font-family: "Messina Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #f5f0eb;
  padding: 14px 20px 13px 20px;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tag-button:hover {
  background-color: #e9e0d8;
}

h1 {
  font-family: "Messina Sans", Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 30px;
}

.trust-indicators {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: center;
  color: #545464;
}

.rating {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.rating img,
.trusted-by img {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  font-weight: 600;
  margin-right: 4px;
  margin-left: 10px;
  font-size: 20px;
}

.star {
  color: #ffd700;
  margin-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.googletext{
  font-size: 20px;
  font-weight: 600;
}

.trusted-by {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
}

.shield{
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trusted-by strong {
  font-weight: 900;
}

body{
  overflow-x: hidden;

}

.hero-bottom-image {
  display: block;
  margin: 84px auto 0 auto;
  height: auto;
  position: relative; 
  left: 50%; 
  right: 50%; 
  margin-left: -50vw; 
  margin-right: -50vw; 
  width: 100vw;
  z-index: -1
}
.cta-button {
  display: inline-block;
  background-color: #ff522d;
  color: #ffffff;
  padding: 20px 60px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
}


@media (max-width: 768px) {
  .top-bar,
  .main-nav {
    padding: 0 20px;
  }

  .hero-section {
    padding: 60px 20px;
  }

  h1 {
    font-size: 32px;
  }

  .trust-indicators {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .rating {
    margin-bottom: 20px;
  }
}
