* {
  font-family: "Messina Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif !important;
}

body {
  margin: 0;
  transition: background-color 0.3s ease;
}

#header {
  position: sticky;
  top: 0;
}
