body{
  font-family: "Messina Sans", Helvetica, Arial, sans-serif;
}

.header,
.navbar {
  position: relative;
  z-index: 100;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 60px;
  display: flex;
  min-height: 90px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.actions {
  display: flex;
  gap: 30px;
  align-items: center;
}

.login {
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
}

.quote {
  color: white;
  border: none;
  padding: 20px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-right: 20px;
}

#upcover-logo path {
  pointer-events: none;
  transition: all 0.3s ease;
}

.header,
.navbar {
  position: relative;
  z-index: 100;
}

/* Menu item */

.menu-item {
  margin-left: 20px;
  padding: 45px 0px 40px 0px;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 6px;
  font-size: 16px;
}

.menu-icon svg {
  margin-top: 4.5px;
}

#menu-items {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 20px;
  padding: 0;
}

.menu-item:hover .menu-icon svg {
  transition: 0.4s;
  transform: rotateX(180deg);
}

.menu-item.dropdown {
  position: static;
  cursor: pointer;
  font-weight: 600;
  /* align-items: center; */
}

.menu-item:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* Initially hidden dropdown */
.dropdown-menu.three-column {
  display: none;
  position: fixed;
  /* top: 0%; */
  margin-top: 60px;
  left: 0;
  width: 100vw;
  padding: 40px 60px;
  transition: 0.4s ease all;
  background-color: white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  min-height: auto;
  flex-direction: row;
  /* border-top: 1px solid black; */
}

/* Show on hover of menu item */
.menu-item.dropdown:hover .dropdown-menu.three-column {
  display: flex;
}

.dropdown-column {
  flex: 1;
  max-width: 274px;
}

.dropdown-column h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #242826;
}

.dropdown-column ul {
  font-weight: 400;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-column ul li {
  margin-bottom: 20px;
  font-size: 14px;
  color: #555;
  cursor: pointer;
  transition: color 0.3s;
}

.dropdown-column ul li:hover {
  color: #000;
}

.dropdown-column.full-width.box-column {
  max-width: 490px;
  margin-left: auto;
  margin-right: 120px; /* space from right edge */
}
.dropdown-column.full-width.box-column .box-left {
  background-color: #F7F6F3;
  padding: 20px;
  border: 1px solid #CED2D9;
  border-radius: 20px;
}

.dropdown-column.full-width.box-column .box-right{
  background-color: #F7F6F3;
  padding: 0 20px 20px 20px;
  border: 1px solid #CED2D9;
  border-radius: 20px;
}



.box-left {
  margin-bottom: 20px;
}

.box-left h4, .box-right h4 {
  color: #242826;
  font-weight: 700;
  font-family: "Messina Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.box-left p, .box-right p {
  color: #545464;
  font-weight: 400;
  line-height: 25px;
}

.inline-buttons button{
  padding: 20px 0;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  width: 48%;
  
}

.inline-buttons.single-button .button1 {
  width: 100%;
}

.inline-buttons.two-buttons .button2{
  margin-left: 10px;
}


.box-right .button{
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
}

.box-left img{
  width: 450px;
  height: 140px;
  object-fit: cover;
  object-position: 20% 30%;
  border-radius: 10px;
}

